<footer class="round">
  <div class="footer_inner">
    <center>
      <%= javascript_tag 'showQuotation()' %>
    </center>
    <nav>
      <ul>
        <li><%= link_to 'iLearn', 'http://ilearn.mq.edu.au/my/' %>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Help', help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
